.feedBackLeft {
    margin: 20px 0 0 0
}

.feedBackTitle {
    text-align: center;
    line-height: 10px;
    font-size: 20px;
    padding-left: 100px;
}

.feedBackSearch {
    width: 385px;
    margin: 20px 10px 10px 10px
}

.problemCard {
    width: 385px;
}

.problemTitle {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 625;
}

.problemDate {
    display: inline-block;
    text-align: right;
    margin-top: -22px
}

.problemDetails {
    color: #737373;
    font-size: 14px;
}

.shopName {
    display: inline-block;
    background-color: #ffcccc;
    font-size: 13px;
    color: red;
    margin: 20px 5px 0 0;
}

.shopId {
    display: inline-block;
    background-color: #ffcccc;
    color: red;
    font-size: 13px;
    margin: 20px 0 0 5px
}